<div style="float:right; width:60%;">
  <img style="height: 96px;"src="{{ authData?.displayPhoto()}}">
</div>
<div> Hello {{ authData?.displayName() }}</div>
<div> UserID: {{ authData?.displayUID() }}</div>


<app-auth></app-auth>

<button (click)="authData.signInWithGoogle()">Login Google</button>
<!--<button (click)="authData.signInWithFacebook()">Login Facebook</button>-->
<button (click)="authData.logout()">Logout</button>

<h1>
  {{title}}
</h1>
<div style="float:right;"> <app-poll></app-poll></div>
<div><app-new-poll></app-new-poll><div>
 <!-- <div><app-makepoll></app-makepoll><div> -->

<router-outlet></router-outlet>
