<md-toolbar>
  <h3>
    {{title}}
  </h3>
  <span style="flex: 1 1 auto;"></span>
  <button (click)="authData.signInWithGoogle()">Login Google</button>
  <!--<button (click)="authData.signInWithFacebook()">Login Facebook</button>-->
  <button *ngIf="!(auth | async)" (click)="authData.logout()">Logout</button>
  <md-toolbar-row>
<span > Hello {{ authData?.displayName() }} {{ authData?.uid }}</span>
<span style="flex: 1 1 auto;"></span>
<img *ngIf="!(auth | async)" style="height: 32px;"src="{{ authData?.displayPhoto()}}">

<!-- <app-auth></app-auth> -->

</md-toolbar-row>
</md-toolbar>
<div style="float:right;"> <app-poll></app-poll></div>
<div><app-new-poll></app-new-poll><div>
 <!-- <div><app-makepoll></app-makepoll><div> -->

<router-outlet></router-outlet>
