<md-sidenav-container>
<md-sidenav mode="side" opened="true" align="right">
<div>
  <button (click)=showSlider() [disabled]="slide">Add Slider</button><br>
  <button (click)=showChoice() [disabled]="multichoice">Add Multiple Choice</button>
</div>
</md-sidenav>
<md-grid-list cols="4" rowHeight ="800px">
<md-grid-tile colspan="3">
  <form [formGroup]="poll">
        <md-input-container>
          <!-- <span>Poll Title</span> -->
          <input mdInput type="text" placeholder="Poll Title" formControlName="title">
        </md-input-container>
        <div class="error" *ngIf="poll.get('title').touched && poll.get('title').hasError('required')">
          Name is required
        </div>
        <div class="error" *ngIf="poll.get('title').touched && poll.get('title').hasError('minlength')">
          Minimum of 2 characters
        </div>
        <label>
          <span>Client ID</span>
          <select formControlName="clientID" (change)="updateClient($event.target.value)">
            <option *ngFor="let user of users | async" [value]="user.$key">{{user.username}}
            </option>
          </select>
        </label>
        <div class="error" *ngIf="poll.get('clientID').touched && poll.get('clientID').hasError('required')">
          ClientID is required
        </div>
        <md-input-container>
          <input mdInput type="text" placeholder="Text for the submit button" formControlName="button">
        </md-input-container>
        <div formGroupName="sliders" *ngIf='slide'>
          <div formArrayName="slider">
            <button style="float: right;" (click)="removeAllSliders()">Remove All Sliders</button>
            <div *ngFor="let slider of poll.controls.sliders.controls.slider.controls; let i=index">
              <div>
                <span> Slider: {{ i +1 }}</span>
                <!-- <span *ngIf="poll.controls.sliders.controls.slider.length > 1"> -->
                  <button (click)="removeSlider(i, poll.controls.sliders.controls.slider.length)">X</button>
                <!-- </span> -->
              </div>
              <div [formGroupName]="i">
                <md-input-container>
                  <input mdInput type="text" placeholder="Maximum Slider Value" formControlName="max">
                </md-input-container>
                <div
                  class="error"
                  *ngIf="poll.get('sliders').get('slider').at(i).get('max').hasError('required')">
                  Max Value is required
                </div>
                <md-input-container>
                <input mdInput type="text" placeholder="Left Slider Value" formControlName="label1">
              </md-input-container>
              <md-input-container>
                <input mdInput type="text" placeholder="Right Slider Value"formControlName="label2">
              </md-input-container>
              </div>
              <button (click)="addSlider()">+</button>
            </div>
          </div>
        </div>
        <div formGroupName="multi" *ngIf="multichoice">
          <button style="float: right;" (click)="removeAllChoices()">Remove All Choices</button>
          <md-input-container>
            <input mdInput type="text" placeholder="Multiple Choice Question" formControlName="question">
          </md-input-container>
          <div
            class="error"
            *ngIf="poll.get('multi').get('question').hasError('required') && poll.get('multi').get('question').touched">
            Question is required
          </div>
          <div formArrayName="choices">
            <div *ngFor="let choice of poll.controls.multi.controls.choices.controls; let i=index">
              <div>
                <!-- <span> Choice: {{ i +1 }}</span>
                <span *ngIf="poll.controls.multi.controls.choices.length > 1">
                  <button (click)="removeChoice(i, poll.controls.multi.controls.choices.length)">X</button>
                </span> -->
              </div>
              <div [formGroupName]="i">
                <md-input-container>
                <input mdInput type="text" placeholder="Choice #{{ i +1 }}" formControlName="choice">
                </md-input-container><button (click)="removeChoice(i, poll.controls.multi.controls.choices.length)">X</button>
              </div>
              <button (click)="addChoice()">+</button>
            </div>
          </div>
        </div>
        <div>
        <button [disabled]="poll.invalid" (click)="onSubmit(poll)">Create Poll</button>
        <button (click)="clearPoll()">Reset</button>
      </div>
      </form>
    </md-grid-tile>
<md-grid-tile [ngStyle]="{'background-image':'url(/assets/images/iphone.png)',
'background-size':'100%',
'background-repeat':'no-repeat',
'text-align': 'center'}" >

<div >
  <h2>{{poll.value.title}}</h2>
  <div *ngIf="slide" >
    <div *ngFor="let sli of poll.value.sliders.slider; let i=index">

    <md-slider min="1" max="{{sli.max}}" step="1" value="1" tickInterval="1" thumbLabel ></md-slider>

    </div>
  </div>
  <div *ngIf="multichoice" [ngStyle]="{'text-align': 'left'}">
    <h3>{{poll.value.multi.question}}</h3>
    <div *ngFor="let choices of poll.value.multi.choices; let i=index">
      <md-checkbox>{{choices.choice}}</md-checkbox>
    </div>
  </div>
  <div *ngIf='poll.value.button'>
    <button>{{poll.value.button}}</button>
  </div>
</div>
<!-- <div position="relative">
<img src="/assets/images/iphone.png" width="100%">
</div> -->
</md-grid-tile>
<md-grid-tile>
  <pre>{{poll.value | json}}</pre>
</md-grid-tile>
</md-grid-list>
</md-sidenav-container>
