
<h2>USER LIST</h2>
<div class="text" *ngFor="let user of users | async">
  {{user.username}} | {{user.$key}}</div><br>
  Add ClientID: <input type="text" #newClient placeholder="Title" value="newClient"/><br>
  Add Poll: <input type="text" #newPollOwned placeholder="Title" value="pollOwned"/><br>
  <button (click)="addUserData(newClient.value, newPollOwned.value)">Update User Data</button>
<br>
<md-grid-list cols="3">
<md-grid-tile colspan="1">
<md-list>
  <md-list-item>
    <h3>List of Polls</h3>
  </md-list-item>
  <md-list-item *ngFor="let poll of polls | async;  let i = index">
      <button md-button style="width:100%; text-align:left;" (click)="choosePoll(poll.$key)">
        {{i+1}}: {{poll.title}} | {{poll.$key}}</button>
      <button md-icon-button color="warn" (click)="delete(poll.$key)">
        <md-icon md-list-icon>clear</md-icon>
      </button>
    </md-list-item>
</md-list>
</md-grid-tile>
<md-grid-tile colspan="1">

  <form *ngIf="currentPoll" [formGroup]="result">

  <div>
    <h2> {{currentPoll.title}}</h2>
    <!-- <input type="text" formControlName="title" value="{{currentPoll.title}}">
    <input type="text" formControlName="clientID" value="{{currentPoll.clientID}}">
    <input type="text" formControlName="clientName" value="{{currentPoll.clientName}}">
    <input type="text" formControlName="button" value="{{currentPoll.button}}"> -->
  </div>
    <div formGroupName="sliders" *ngIf="result.controls.sliders.controls.slider.controls[0]">
      <div formArrayName="slider">
          <div *ngFor="let slider of result.controls.sliders.controls.slider.controls; let i=index">
            <div [formGroupName]="i">
              <h3>{{currentPoll.sliders.slider[i].slideName}}</h3>
              {{currentPoll.sliders.slider[i].label1}}
            <md-slider min="1" max="{{currentPoll.sliders.slider[i].max}}" step="1" value="1" tickInterval="1" thumbLabel formControlName="sliderVal">
            </md-slider>
              {{currentPoll.sliders.slider[i].label2}}
            <br>
            <!-- <input type="text" formControlName="label1" value="{{currentPoll.sliders.slider[i].label1}}">
            <input type="text" formControlName="label2" value="{{currentPoll.sliders.slider[i].label2}}">
            <input type="text" formControlName="max" value="{{currentPoll.sliders.slider[i].max}}"> -->
          </div>
        </div>
    </div>
  </div>
  <div formGroupName="multi" *ngIf="result.controls.multi.controls.choices.controls[0]">
   <div formArrayName='choices'>
     <div *ngFor="let choice of result.controls.multi.controls.choices.controls; let i=index">
       <div [formGroupName]="i">
         <md-checkbox formControlName="chosen" >
         {{currentPoll.multi.choices[i].choice}}
       </md-checkbox>
       </div>
     </div>
   </div>
  </div>
    <!-- <div *ngIf="currentPoll.multi.question">
      <div *ngFor="let choices of currentPoll.multi.choices; let i=index">
        <md-checkbox>{{choices.choice}}</md-checkbox>
      </div>
    </div> -->
      <button (click)='addResult(result)'>{{currentPoll.button}}</button>
      <button (click)='viewResult(result)'>View Result</button>
      <!-- <md-list>
        <md-list-item *ngFor="let item of result;  let i = index">
          #{{i}}: {{item}}
          </md-list-item>
      </md-list> -->

  </form>

  <div *ngIf="currentPoll">
    <div id="chart_div"></div>
    {{data | json}}
    <google-chart [data]="lineChartOptions"></google-chart>

  </div>
</md-grid-tile>
<md-grid-tile colspan="1">


  <md-list>
  <md-list-item>
     <h3>Display Data</h3>
   </md-list-item>
   <!-- <md-list-item>
     <google-chart [data]="lineChartOptions"></google-chart>
   </md-list-item> -->
  <md-list-item *ngFor="let result of results | async;  let i = index">
    {{result.title}} | {{result.pollID}}
    <button md-icon-button color="warn" (click)="deleteResult(result.$key)">
      <md-icon>clear</md-icon>
    </button>
  </md-list-item>

</md-list>
</md-grid-tile>
</md-grid-list>
