<h2>
  You have been Invited to join Thinkful.
</h2>
<!-- <button *ngIf="!auth" (click)="auth.signInWithGoogle()">Sign in with Google</button> -->
<div>
ID: {{inviteID}}
</div>
<div *ngIf="(auth | async)?.uid">
<button *ngIf="currentUser" (click)="acceptInvitation()">Accept Invitation</button>
<!-- <div>TEST</div> -->
<!-- <div class="text" *ngFor="let client of clients | async;  let i = index">
Clients: {{i+1}}: {{client.$key}}
</div>

<div class="text" *ngFor="let counsellor of counsellors | async;  let i = index">
Counsellors: {{i+1}}: {{counsellor.counsellor}}
</div> -->
</div>
